* {
    margin: 0;
    padding: 0;
}

:root {
    --fondo: rgb(255, 222, 89);
    --botones: rgb(13, 110, 253);
    --card-fondo: #fff;
    --texto-claro: #fff;
}

.bg-body-tertiary {
    background-color: var(--fondo) !important;
}

body {
    font-family: 'Press Start 2P', cursive;
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: var(--fondo);
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.footer-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.cards-container {
    display: flex;
    gap: 3.4em;
    justify-content: center;
    flex-wrap: wrap;
}

.card-custom {
    background-color: var(--card-fondo);
    border-radius: 30px;
    width: 17rem;
    height: auto;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
}

.card-custom:hover {
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.2);
    opacity: 1;
}

.card-header-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title-custom {}

.card-text-custom {
    text-align: center;
    margin: 0.5em;
}

a {
    outline: none;
    text-decoration: none;
}

.btn-custom {
    color: #000;
    padding: 12px;
    border-radius: 25px;
    margin: 1em 0;
    font-size: 1em;
}

.btn-custom:hover {
    cursor: pointer;
    transition: transform 0.7s;
    transform: scale(1.05);
}

.btn-primary-custom {
    color: var(--texto-claro);
    background-color: var(--botones);

}

svg {

    margin: 1em 0;
}

svg:hover {
    transform: scale(1.1) translate(5px);
    transition: transform 0.7s;

}


h2 {
    color: var(--texto-claro);
    font-size: 1.5em;
    margin: 1em 0;
    text-align: center;

}

row>p {
    color: #000;
    font-size: 1.3em;
    text-align: justify;

}


.text__container {

    display: flex;
    justify-content: center;

}

.text {
    color: rgb(110, 82, 105);
    display: block;
    font-family: monospace;
    white-space: nowrap;
    font-weight: bold;
    font-size: 2em;
    border-right: 4px solid;
    width: 70ch;
    text-align: center;
    animation: typing 5.6s steps(67),
        blink .5s infinite step-end alternate;
    overflow: hidden;

}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.span {
    color: rgb(145, 93, 136);
    font-size: 1em;
}

.span:nth-child(3) {
    margin: 0 0.25em;
}

@media (max-width: 1400px) {
    .text {
        color: rgb(110, 82, 105);

        font-family: monospace;
        white-space: nowrap;
        font-weight: bold;
        font-size: 1.9em;
        border-right: unset;
        width: auto;
        animation: unset;
        height: auto;

    }

    code {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
}